:root{
    --primaryColor: white;
    --secondaryColor: #21272d;
}

.darkMode{
    --primaryColor: #21272d;
    --secondaryColor: white;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}

#top {
    position: absolute;
    top: 5%;
    width: 100%;
    transform: scale(1);
    text-align: center;
    z-index: 1;
    visibility: visible;
    transition: transform 0.4s;
}

#logo-name {
    font-size: 32px;
    font-weight: bold;
    background: var(--secondaryColor);
    color: var(--primaryColor);
}

#map{
    position: absolute;
    top: 0; 
    bottom: 0;
    width: 100%;
    z-index: 0;
}

.button h1{
    margin: 5%;
}

.button p{
    margin: 5%;
}

.mainButton h1{
    margin: 5%;
}

.mainButton p{
    margin: 5%;
}

.mainButton{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    height: clamp(50px, 5%, 150px);
    width: clamp(200px, 10%, 600px);
    background: var(--secondaryColor);
    color: var(--primaryColor);
    border-radius: 100px;
    transition: 150ms ease;
    visibility: visible;
    transition: transform 0.4s;
}

.hide{
    transform: scale(0.1);
    visibility: hidden;
}

.blur{
    filter: blur(5px);
}

.mainButton:hover{
    transform: translate(-50%, -50%) scale(1.1);
}

.losGehtsButton:hover{
    transform: translate(-50%, -50%) scale(1.1);
}

.tippButton:hover{
    transform: translate(-50%, -50%) scale(1.1);
}

.okButton:hover{
    transform: translate(-50%, -50%) scale(1.1);
}

#historicImg{
    filter: blur(5px);
    width: clamp(200px, 50%, 600px);  
}

.mainPopup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    height: 60%;
    width: 60%;
    overflow:auto;
    background: var(--secondaryColor);
    color: var(--primaryColor);
    padding: 50px;
    border-radius: 100px;
    z-index: 5;
    visibility: hidden;
    transition: transform 0.4s;
}

.endPopup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    height: 40%;
    width: 40%;
    background: var(--secondaryColor);
    color: var(--primaryColor);
    padding: 50px;
    border-radius: 50px;
    z-index: 5;
    visibility: hidden;
    transition: transform 0.4s;
}

.openPopup{
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
    transition: transform 0.4s;
}

.losGehtsButton{
    position: sticky;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%) scale(1);
    height: clamp(50px, 5%, 150px);
    width: clamp(200px, 10%, 600px);
    background: var(--primaryColor);
    color: var(--secondaryColor);
    border-radius: 100px;
    transition: 150ms ease;
}

.hintButton{
    position: absolute;
    top: 10%;
    right: 5%;
    transform: translate(-50%, -50%) scale(1);
    height: clamp(50px, 10%, 150px);
    width: clamp(50px, 5%, 150px);
    border-radius: 100px;
    background-image: url('resources/figures/tippOriginal.jpg');
    background-size: cover;
}

.okButton{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    height: clamp(25px, 5%, 75%);
    width: clamp(100px, 10%, 300px);
    background: var(--primaryColor);
    color: var(--secondaryColor);
    border-radius: 100px;
    transition: 150ms ease;
}